.cell {
  aspect-ratio : 1 / 1;
  width: 100%;
  min-height: 50px;
  background-color: Thistle;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
